{% extends 'layout.html' %}

{% block body %}

<form method="POST" action="">
    <div class="form-group">
        <p>Ingresa URL larga para hacerla tiny:</p>
        <div>
            <input type="text" class="form-control" name="url"  placeholder="http://your-long-url.com/and/other/paths" size="40">
        </div>
        <p>Custon alias (opcional):</p>
        <div>
            http://mi-dominio.com/<input type="text" class="form-control" name="customAlias" size="20">
        </div>
        <p> </p>
            <button type="submit" class="btn btn-primary">Generar Tiny</button>
        <p>Resultado:</p>
        <div>
            <input type="text" class="form-control" name="resultado" readonly>
        </div>
    </div>
</form>


{% endblock %}