{% extends 'layout.html' %}

{% block body %}

<form method="POST" action="">
    <div class="form-group">
        <p>Ingresa URL larga para hacerla tiny:</p>
      <input type="text" class="form-control" name="url"  placeholder="http://your-long-url.com/and/other/paths">
        <p>Custon alias (opcional):</p>
        <input type="text" class="form-control" name="customAlias">
        <p> </p>
    </div>
    <button type="submit" class="btn btn-primary">Generar Tiny</button>
    <p>Resultado:</p>
    <input type="text" class="form-control" name="resultado">
</form>


{% endblock %}