{% extends 'layout.html' %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">tinyURL</th>
                <th scope="col">URL Original</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for k,v in my_list.items() %}
                <tr>
                    <th scope="col">localhost:5000/{{k}}</th>
                    <th scope="col">{{v}}</th>
                    <th scope="col"> <button type="submit" class="btn btn-primary" name="delete" value="{{k}}">DELETE</button> </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}