{% extends 'layout.html' %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">tinyURL</th>
                <th scope="col">URL Original</th>
            </tr>
        </thead>
        <tbody>
            {% for n,k in my_list.items() %}
                <tr>
                    <th scope="col">localhost:5000/{{n}}</th>
                    <th scope="col">{{k}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}