{% extends 'layout.html' %}

{% block body %}

    <div class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">tinyURL</th>
                <th scope="col">URL Original</th>
            </tr>
        </thead>
        <tbody>
            {% for n,k in my_list.items() %}
                <tr>
                    <td>http://localhost:5000/{{n}}</td>
                    <td>{{k}}</td>
                </tr>
            {% end for %}
        </tbody>
    </div>

{% endblock %}