{% extends 'layout.html' %}

{% block body %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">tinyURL</th>
            <th scope="col">URL Original</th>
            <th scope="col">Visitas</th>
        </tr>
    </thead>
    <tbody>
        {% for n,k in zip(my_list.items(),visitas.items())) %}
            <tr>
                <th scope="col">localhost:5000/{{n}}</th>
                <th scope="col">{{k[0]}}</th>
                <th scope="col">{{k[1]}}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}