{% extends 'layout.html' %}

{% block body %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">tinyURL</th>
            <th scope="col">URL Original</th>
            <th scope="col">Visitas</th>
        </tr>
    </thead>
    <tbody>
        {% for k in mylist.keys() %}
            <tr>
                <th scope="col">localhost:5000/{{k}}</th>
                <th scope="col">{{mylist[k]}}</th>
                <th scope="col">{{mylist2[k]}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}